@page
@model Washyn.Web.Pages.ExamplePage

@{
    Layout = null;
}

@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title></title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*      *@
@* </div> *@
@* </body> *@
@* </html> *@

<h2>Titulo, ejemplo razor pages.</h2>