@page
@using Washyn.Web.Bundling.Select2
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@model Washyn.Web.Pages.ExampleSelect2

@{
    // Layout = null;
}

@section styles
{
    <abp-style type="typeof(Select2BoostrapStyleContributor)"></abp-style>
}

@section scripts
{
    <abp-script type="typeof(Select2BoostrapScriptContributor)"></abp-script>
    <abp-script type="typeof(Select2FixScriptContributor)"></abp-script>
}

<div class="card">
    <div class="card-body" id="cardIdentifier">
        <form action="">
            @*  *@
            <select asp-for="Prueba.Id"
                    class="auto-complete-select"
                    data-autocomplete-api-url="/api/app/prueba"
                    data-autocomplete-display-property="nombre"
                    data-autocomplete-value-property="id"
                    data-autocomplete-items-property="items"
                    data-autocomplete-filter-param-name="filter">

                <!-- You can define selected option(s) here  -->
                @* <option selected value="@Model.Prueba.Id">@Model.Prueba.Nombre</option> *@
            </select>
        </form>
        
        <hr>
        
        <form action="">
            <select class="form-select" id="exampleManualSelect" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </form>
        
    </div>
</div>