@page
@model Washyn.Web.Pages.TestPage

@{
    // Layout = null;
}

@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title></title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*      *@
@* </div> *@
@* </body> *@
@* </html> *@


<h5>test</h5>

<abp-card>
    <abp-card-header>
        <abp-card-title>
            Test title
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.
        
    </abp-card-body>
    <abp-card-footer>
        test footer
    </abp-card-footer>
</abp-card>