@using Volo.Abp.Users
@using Washyn.AdminLteTheme.Themes.AdminLte.Components.Brand
@inject ICurrentUser CurrentUser
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-success elevation-1">
  
  <vc:brand-logo></vc:brand-logo>

  <!-- Sidebar -->
  <div class="sidebar">
    @if (CurrentUser.IsAuthenticated)
    {
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/dist/img/avatar5.png" class="img-circle elevation-1" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">
            @CurrentUser.Name @CurrentUser.SurName
          </a>
        </div>
      </div>
    }
    
    @* @await Html.PartialAsync("~/Themes/AdminLte/Components/MainSidebarContainer/SidebarSeachForm.cshtml") *@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        @await Html.PartialAsync("~/Themes/AdminLte/Components/MainSidebarContainer/DefaultContent.cshtml")

        <vc:main-menu></vc:main-menu>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>