@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles
@{
  Layout = null;
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Starter</title>
@* ADMIN LTE DEFAULT STYLES *@
@* ------------------------------------------------------------------------------------ *@
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
  @* ------------------------------------------------------------------------------------ *@
  
  @* THEME CSS *@
  <link rel="stylesheet" href="~/css/style.css">
  
  @* TODO: armar el reemplazo de esto con las librerias front base de abp y agregarlas debajo de esta seccion   *@
  
  <!-- bundles -->
  @* TODO: check how to make in another example admin lte theme *@
    @* TODO: fix this order and create admin lte theme... *@
    @* <abp-style-bundle> *@
    @*   <abp-style type="@typeof(StyleContributor)"></abp-style> *@
    @* </abp-style-bundle> *@
  
  @* Admin lte css libs *@
  <!-- Google Font: Source Sans Pro -->
  @* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> *@

  @* already aded with basic style *@
  <!-- Font Awesome Icons -->
  @* <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css"> *@
  
  @* this already include boostrap *@
  <!-- Theme style -->
  
  @* <link rel="stylesheet" href="~/dist/css/adminlte.css"> *@
  @* *@
  @* @await Component.InvokeAsync(typeof(WidgetStylesViewComponent)) *@
  @* @await RenderSectionAsync("styles", false); *@

  
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
  <vc:navbar></vc:navbar>

  <vc:main-sidebar-container></vc:main-sidebar-container>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <vc:page-alerts></vc:page-alerts>
    @RenderBody()
  </div>
  <!-- /.content-wrapper -->

  <vc:control-sidebar></vc:control-sidebar>
  
  <vc:footer></vc:footer>
</div>
<!-- ./wrapper -->


<!-- REQUIRED SCRIPTS -->
@* ADMIN LTE DEFAULT SCRIPTS *@
@* ------------------------------------------------------------------------------------- *@
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
@* ------------------------------------------------------------------------------------- *@
@* TODO: armar el reemplazo de esto con las librerias front base de abp y agregarlas debajo de esta seccion *@

<!-- Script bundles -->
@* <abp-script-bundle> *@
@*   <abp-script type="@typeof(ScriptContributor)"></abp-script> *@
@* </abp-script-bundle> *@

@* theme libs *@
@* already aded *@
<!-- jQuery -->
@* <script src="~/plugins/jquery/jquery.min.js"></script> *@

@* already aded *@
<!-- Bootstrap 4 -->
@* <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> *@
<!-- AdminLTE App -->

@* <script src="~/dist/js/adminlte.min.js"></script> *@
@* <script src="~/Abp/ApplicationConfigurationScript"></script> *@
@* <script src="~/Abp/ServiceProxyScript"></script> *@
@* @await RenderSectionAsync("scripts", false) *@
@* @await Component.InvokeAsync(typeof(WidgetScriptsViewComponent)) *@

</body>
</html>
